<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @market.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @market.place %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
